<%= form.text_field :name %>
   </div>

   <div class="field">
     <%= form.label :cover %>
     <%= image_tag(episode.cover_url) if episode.cover? %>
     <%= form.hidden_field :cover_cache %>
   </div>

   <div class="actions">
     <%= form.submit %>
   </div>