<%= link_to "返回單集列表", podcast_path(@podcast) %>

<h1><%= @episode.title %></h1>
<ul>
  <li>關鍵字：<%= @episode.keyword %></li>
  <li>描述：<%= @episode.description %></li>
</ul>



<h2>節目播放器：</h2> 

<audio controls="controls" preload="none" autostart="false">
    <source src="<%= @episode.recording.url %>" type="audio/mp3"></source>
</audio>
