<div class="grid md:flex">
  <div class="my-auto md:w-8/12">
    <div class="donate_bg md:h-screen grid justify-center items-center">
      <div class="grid">
        <span><%= image_tag(@podcast.cover.url, size: "250x250") if @podcast.cover? %></span>
        <p class="donate_podcast"><%= @podcast.name %></p>
        <p class="donate_artist"><%= @podcast.artist %></p>
      </div>
    </div>
  </div>
  <div class="w-auto md:w-4/12">
    <div class="w-full grid">
      <div class="">
        <%= simple_form_for @donation, url:  donate_player_podcast_path(@podcast.random_url)  do |f| %>
        <div class="p-3"><%= f.input :amount, label: "一次性贊助", input_html: { class: "donate_form" } %></div>
        <div class="p-3"><%= f.input :donator, label: "名稱", placeholder: "未填寫則顯示「匿名贊助者」", input_html: { class: "donate_form" } %></div>
        <div class="p-3"><%= f.input :note, label: "留一段話鼓勵我吧！", input_html: { class: "donate_message" } %></div>
      </div>
      <div class="relative bottom-0">
        <div class="flex justify-center">
          <div class=""><%= f.button :submit, "贊助", class: "btn-primary" %></div>
        </div>
        <% end %>
        <footer class="flex text-xs font-light justify-center pt-3">
          <span class="pr-1">Powered</span>
          <span class="pr-1">by</span>
          <span class="text-titleblue">SoundBar</span>
        </footer>
      </div>
    </div>
  </div>
</div>

