<% if @donation.errors.any? %>
  <% @donation.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>
<% end %>

<%= link_to "返回節目", podcast_path(@podcast) %>
<br>
<h1>贊助　<%= @podcast.name %></h1>

<p>
  <strong>Cover:</strong>
  <%= image_tag(@podcast.cover.url) if @podcast.cover? %>
</p>

<ul>
  <li>創作者：<%= @podcast.artist %></li>
  <li>類別：<%= @podcast.genres %></li>
  <li>語言：<%= @podcast.language %></li>
  <li>描述：<%= @podcast.description %></li>
</ul>

<%= simple_form_for @donation, url:  donate_p_path  do |f| %>
  <%= f.input :donator, label: "贊助者" %>
  <%= f.input :note, label: "想對作者說的話" %>
  <%= f.input :amount, label: "贊助金額" %>
  <%= f.button :submit %>
<% end %>

