<%= link_to "返回節目列表", p_path(@podcast.random_url) %>

<h1><%= @episode.title %></h1>
<ul>
  <li>關鍵字：<%= @episode.keyword %></li>
  <li>描述：<%= @episode.description %></li>
</ul>



<h2>節目播放器：</h2>

<audio controls="controls" preload="none" autostart="false">
    <source src="<%= @episode.recording.url %>" type="audio/mp3"></source>
</audio>
