<header>
  <!-- <div class="flex m-6 justify-center">
    <%= link_to image_tag("new_logo_black", size: "280x280"), "/#" %>
  </div> -->
</header>
<div class="flex">
  <div class="side_bar min-w-2xl sm:w-0"><%= render '/backend/sidebar' %></div>
  <div class="w-5/6">
    <h1 class="text-center text-2xl font-bold m-10">節目資訊</h1>
    <div class="bg-gray-100">
      <div class="flex justify-center p-5">
        <div><%= image_tag(@podcast.cover.url) if @podcast.cover? %></div>
      </div>
      <ul class="grid justify-center">
        <li class="podcast-info">・Podcast 節目名稱：<%= @podcast.name %></li>
        <li class="podcast-info">・創作者名稱：<%= @podcast.artist %></li>
        <li class="podcast-info">・Email：<%= @podcast.email %></li>
        <li class="podcast-info">・描述：<%= @podcast.description %></li>
        <li class="podcast-info">・Subtitle：<%= @podcast.subtitle %></li>
        <li class="podcast-info">・類別：<%= @podcast.genres %></li>
        <li class="podcast-info">・語言：<%= @podcast.language %></li>
        <li class="podcast-info">・好記短網址：<%= @podcast.slug %></li>
        <li class="podcast-info">・版權宣告：<%= @podcast.copyright %></li>
        <li class="podcast-info">・兒童不宜：<%= @podcast.explicit %></li>
      </ul>

      <div class="grid justify-center">
        <button class="create-episode"><%= link_to "新增單集", new_podcast_episodes_path(@podcast.random_url) %></button>
      </div>

      <section>
        <div class="grid justify-center">
          <h2 class="text-xl font-bold flex justify-center underline mb-2">Episode 節目列表</h2>
          <table>
            <thead>
              <th class="table-content">季數／集數</th>
              <th class="table-content">標題</th>
              <th class="table-content">發布日期</th>
              <th class="table-content"></th>
              <th class="table-content"></th>
              <th class="table-content"></th>
            </thead>
            <tbody>
              <% @episodes.each do |episode| %>
              <tr>
                <td class="table-content">S<%= episode.season %>E<%= episode.episode %></td>
                <td class="table-content"><%= episode.title %></td>
                <td class="table-content"><%= episode.created_at %></td>
                <td class="table-content button-link"><%= link_to "預覽", podcast_episode_path(@podcast.random_url, episode.random_url) %></td>
                <td class="table-content button-edit"><%= link_to "Edit", edit_podcast_episodes_path(@podcast.random_url, episode.random_url) %></td>
                <td class="table-content button-delete"><%= link_to "Delete", podcast_episode_path(@podcast.random_url, episode.random_url), method: "delete", data: {confirm: "是否確認刪除？"} %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="flex justify-center">
          <button class="return_btn"><%= link_to "返回 Podcast 節目列表", podcasts_path %></button>
        <div>
      </section>
    </div>
  </div>
</div>
<div>
  <%= render '/backend/footer' %>
</div>


