<div class="flex flex-col w-full relative bg-gray-100 min-h-screen">
  <!-- NavBar -->
  <div class="absolute top-0 w-full">
    <%= render '/backend/navbar_index' %>
  </div>
  <!-- 上半框 -->
  <div class="bg-white mt-20">
    <div class="container container-donate w-2/3 mx-auto py-6 bg-white">
      <h1 class="text-xl font-black">歡迎來到 SoundBar</h1>
    </div>
  </div>
  <!-- 下半框 -->
  <div class="bg-gray-100">
    <section class="font-medium flex flex-wrap container w-2/3 mx-auto mt-6">
      <!-- 搜尋框及建立Podcast -->
      <div class="flex justify-between w-full">
        <form class="search-form flex bg-white border border-gray-300 hover:border-blue-400 rounded transition duration-300">
          <input type="text" class="ml-3 p-1 bg-transparent focus:outline-none w-60" placeholder="搜尋單集">
          <button class="mr-3 p-1 bg-transparent focus:outline-none text-gray-600">
            <i class="fas fa-search"></i>
          </button>
        </form>
        <div id="create-podcast-btn" class="py-1 px-4 text-sm text-white bg-blue-500 hover:bg-blue-400 cursor-pointer transition duration-300 rounded">
          建立 Podcast
        </div>
      </div>
      <!-- 節目列表 -->
      <div class="grid grid-flow-row xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 xs:grid-cols-1 gap-x-8 w-full">
        <% @podcasts.each do |podcast| %>
          <div class="cursor-pointer relative bg-white mt-8 border border-gray-300 hover:border-gray-400 rounded ">
            <div class="flex border-b border-gray-200">
              <div class="w-14 h-14 p-10">
                <%= image_tag(@podcast.cover.url, size: "30x30") if podcast.cover? %>
              </div>
              <div class="w-full">
                <h3 class="font-semibold text-gray-800 pt-5"><%= link_to podcast.name, dashboard_podcast_path(podcast.random_url), class: "block" %></h3>
                <%= link_to podcast.artist, dashboard_podcast_path(podcast.random_url), class: "block font-thin text-sm text-gray-600 pb-5" %>
              </div>
            </div>
            <div class="flex justify-between">
              <span class="py-3 px-5 text-gray-400 hover:text-blue-400"> ＋ 新增單集</span>
              <%= link_to '<i class="far fa-caret-square-right"></i>'.html_safe, player_podcast_url(podcast.random_url, subdomain: "player"), class: "py-3 px-5 text-gray-400 hover:text-blue-400" %>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </div>
  <!-- Footer -->
  <div class="absolute bottom-0 w-full">
    <%= render '/backend/footer' %>
  </div>
</div>

