<h1>Podcast 節目列表</h1> 
<%= link_to "新增節目", new_podcast_path %>
<br>
<table class="table" class="w-64">
  <thead>
    <tr class="bg-red-50">
      <th>類別</th>
      <th>節目名稱</th>
      <th>創作者</th>
      <th>語言</th>
      <th>短網址</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @podcasts.each do |podcast| %>
      <tr>
        <td><%= podcast.genres %></td>
        <td><%= link_to podcast.name, podcast_path(podcast.id) %></td>
        <td><%= podcast.artist %></td>
        <td><%= podcast.language %></td>
        <td><%= podcast.slug %></td>
        <td><%= link_to "編輯", edit_podcast_path(podcast) %></td>
        <td><%= link_to "刪除", podcast_path(podcast), method: "delete", data: {confirm: "是否確認刪除？"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

