<div class="flex">
  <div class="side_bar min-w-2xl sm:w-0 w-60"><%= render '/backend/sidebar' %></div>
  <div class="flex flex-col w-full relative bg-gray-100 min-h-screen">
    <!-- NavBar -->
    <div class="absolute top-0 w-full">
      <!-- 這邊要插入NavBar -->
    </div>
    <!-- 上半框 -->
    <div class="bg-white">
      <div class="container container-donate w-2/3 mx-auto py-6 bg-white">
        <h1 class="text-xl font-black">音效襯樂</h1>
      </div>
    </div>
    <!-- 下半框 -->
    <div class="bg-gray-100">
      <section class="font-medium flex flex-wrap container w-2/3 mx-auto mt-6">
        <div class="container mx-auto flex flex-col">
          <span class="my-3">請留意以下免費使用的音樂網站有不同的版權規範，下載前請詳閱該網站之使用說明。若要求標註創作者，則需編輯節目描述或單集描述，以文字註明創作者。</span>
          <div class="my-4">
            <%= link_to "freesound", 'https://freesound.org/browse/tags/music/', class: "btn btn-primary" %>
            <span>許多環境音效與背景音樂</span>
          </div>
          <div class="my-4">
            <%= link_to "MUSOPEN", 'https://musopen.org/music/', class: "btn btn-primary" %>
            <span>古典音樂網站，可以演奏樂器與創作時期搜尋</span>
          </div>
          <div class="my-4">
            <%= link_to "AudionautiX", 'https://audionautix.com/', class: "btn btn-primary" %>
            <span>簡單透過情境、類型與節奏搜尋音效</span>
          </div>
          <div class="my-4">
            <%= link_to "dig.ccMixter", 'http://dig.ccmixter.org/dig', class: "btn btn-primary" %>
            <span>透過音樂類型、樂器及風格來搜尋音效</span>
          </div>
        </div>
      </section>
    </div>
    <!-- Footer -->
    <div class="absolute bottom-0 w-full">
      <%= render '/backend/footer' %>
    </div>
  </div>
</div>
