<!DOCTYPE html>
<html>
  <head>
    <title>SoundBar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="text-center font-extrabold bg-yellow-200 text-red-700">
      <%= notice %>
    </div>

    <%= yield %>
  </body>
  </br>
  <div>
    <%= render '/layouts/footer' %>
  </div>
</html>
