<!DOCTYPE html>
<html>
  <head>
    <title>SoundBar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
<footer class="flex bg-blue-50 p-5 justify-center">
  <p class="text-blue-500 pr-1 duration-500 hover:text-blue-400">使用條款</p>
  <p class="pl-1">© 2021 SoundBar, Inc.</p>
</footer>
